torch==2.8.0
torchvision
opencv-python==4.10.0.84
scipy==1.13.1
imageio==2.34.2
tqdm==4.66.4
pillow>=10.2.0
numpy>=1.24.0
DWPoses>=0.1.0
onnxruntime
huggingface_hub==0.25.2
matplotlib
gradio==5.1.0
omegaconf
diffusers
transformers
moviepy
decord
einops==0.8.0
accelerate==1.1.1
safetensors
